/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-May-2021, 8:21:44 pm
    Author     : my pc
*/

h2{
    font-style:italic;
    font-weight:bolder;
    color:white;
}



.box{
    display:block;
    width:50%;
    float:right;
}

.list_box{
    width:100%;
    overflow:hidden;
}

#image{
    float:left;
    padding:0px 20px 20px 20px;
    height: 184px;
    width: 183px;
}


#background-img{
    background-image:url("img/bat_cover.jpg");
    height:350px;
    padding-top:50px;
    color:#fff;
    margin-top:25px;
    background-position: center;
}

#content{
    background-color: rgba(0,0,0,0.7);
    max-width: 450px;
    padding:30px 20px;
    margin-top:50px;
    text-align: center;
    color:white;
} 

#identity{
    overflow:auto;
}

#movies{
    font-style: normal;
    text-align: center;
}

.thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 50px;
    text-align: center;

}

.center{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:50%;
}

table{
    border:1px solid;
    width:100%;
    border-collapse: collapse;
}

th,td{
    padding:15px;
    border:1px solid;
    height:30px;
}


nav{
  padding: 14px 16px;
  font-size: 17px;

}

nav ul li {
 
   padding:0px 8px;
   float:right;
   display:block;
    
   
}

.logo{
    float:left;
    height:50px;
}

#header{
    padding:5px 0px;
    border-bottom: 1px solid;
    list-style-type: none;
   
}

#villans{
    font-weight:100;
}
a{
    text-decoration:none;
    color:#666;
}

input {

    padding: 14px 70px;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
  

}

#subscribe {

    border: none;
    background-color: #26211f;
    color: white;
    font-size: 16px;
    margin: 4px -4px;
    padding: 16px 40px;
   
}

html{
    scroll-behavior:smooth;
}

.subs{
    text-align: center;
}
